main{
	padding-block: 96px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 256px;
}

main > section{
	width: 100%;
	min-height: 600px;
	padding-inline: 8px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px 64px;
}

:where(.landing-top, .landing-papas) > *{
	width: min(100%, 600px);
}

.landing-top > p{
	text-indent: 24px;
	flex-grow: 2;
}

.landing-top > figure{
	background: url('./design/primer-poster-landing.webp') no-repeat;
	background-size: contain;
	background-position: center;
	flex-grow: 3;
	height: min(600px, 98vw);
}

.landing-products{
	position: relative;
	flex-flow: column nowrap;
	padding-block: 32px;
	background-color: var(--celeste);
}

.landing-products::before, .landing-products::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2.5vw;
	background-color: var(--white);
}

.landing-products::before{
	top: 0;
	border-radius: 0 0 100% 100%;
}

.landing-products::after{
	bottom: 0;
	border-radius: 100% 100% 0 0;
}

.landing-products > h1{
	font-size: 4em;
	text-align: center;
	color: var(--white);
	text-shadow: 0 0 3px var(--shadow-1);
}

.landing-products > article{
	width: min(1200px, 100%);
	overflow: hidden;
}

.landing-products > article > ul{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 72px;
	width: max-content;
	position: relative;
	animation: desplazamiento 60s linear 0s infinite both;
}

.landing-products > article > ul .card{
	position: relative;
	height: 384px;
	flex: 0 0 320px;
	margin-bottom: 32px;
	border-radius: 32px;
	border: 1px solid rgba(240, 240, 240, .5);
	box-shadow: 0 0 5px var(--shadow-1);
	overflow: hidden;
}

.landing-products > article > ul .card img{
	display: block;
	width: 100%;
	height: auto;
}

.landing-products > article > ul .card:hover img{
	transform: scale(1.05);
}

.landing-products > article > ul .card figcaption{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	padding: 8px 16px;
	background-color: var(--white);
	box-shadow: inset 0 0 5px var(--shadow-1);
}

.landing-products > article > ul .card figcaption p{
	font-size: 0.85em;
}

.landing-products > article > ul .card figcaption h4{
	text-align: center;
	margin-bottom: 4px;
	box-shadow: none;
}

@keyframes desplazamiento {
	0%{
		left: 0;
	}
	1.5%{
		left: 0;
	}
	98.5%{
		left: calc(-320px*5 - 72px*5);
	}
	100%{
		left: calc(-320px*5 - 72px*5);
	}
}

.landing-papas > figure{
	background: url('./design/landing-papas-6.webp') no-repeat, url('./design/landing-papas-5.webp') no-repeat;
	background-size: contain;
	background-position: center;
	filter: drop-shadow(0 0 10px var(--shadow-1));
	flex-grow: 3;
	height: min(600px, 98vw);
}

.landing-papas > h1{
	flex-grow: 2;
	font-size: 4em;
	text-shadow: 0 0 5px var(--shadow-1);
	background: linear-gradient(to right, var(--celeste) 30%, var(--celeste-3) 90%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.landing-end > figure{
	width: min(1200px, 100%);
	height: 600px;
	border-radius: 32px;
	box-shadow: 0 0 15px var(--shadow-2), inset 0 0 64px var(--shadow-1);
	background: url('./design/landing-end-2.webp') no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 256px;
}

.landing-end > figure :where(h1, a){
	font-size: 3em;
	color: var(--white);
	text-shadow: 0 0 10px var(--shadow-1);
	padding: 32px;
	border-radius: 48px;
	border: 2px solid var(--white);
	box-shadow: 0 0 10px var(--shadow-1);
	backdrop-filter: blur(10px);
}

.landing-end > figure a{
	font-size: 2em;
	transition: color 50ms ease-in 50ms, border-color 50ms ease-out 0s;
}

.landing-end > figure a:hover{
	color: var(--celeste-3);
	border-color: var(--celeste-3);
}

@media only screen and (max-width:1280px){
	main{
		gap: 92px;
	}
	main>section{
		height: max-content;
	}
	.landing-top>p{
		padding-inline: 10vw;
	}
	.landing-papas>h1{
		text-align: center;
	}
}

@media only screen and (max-width: 856px){
	main{
		padding-top: 0;
	}
	.landing-top>p, .landing-top :where(a, em){
		font-size: calc(20px - (856px - 100vw) / 86);
	}
}

@media only screen and (max-width: 415px){
	:is(.landing-products, .landing-papas)>h1{
		font-size: calc(47px - ((415px - 100vw) / 24));/* 47 px  calc(47px - ((415px - 100vw) / 94))*/
	}
	.landing-end>figure>h1{
		font-size: calc(47px - ((415px - 100vw) / 12));/* 47 px  calc(47px - ((415px - 100vw) / 94))*/
	}
	.landing-end > figure a{
		font-size: 1.4em;
	}
	.landing-products > article > ul .card:hover img{
		transform: none;
	}
	.landing-end > figure a:hover{
		color: var(--white);
		border-color: var(--white);
		animation: touched .6s linear 0s;
	}
}

@keyframes touched{
	0%, 100%{
	}
	70%{
		color: var(--celeste-3);
		border-color: var(--celeste-3);
	}
}