body{
	display: flex;
	flex-direction: column;
}

main{
	flex-grow: 1;
}

main>section{
	width: min(1024px, 100%);
	height: 100%;

	margin-inline: auto;
	padding: 128px clamp(5px, 5vw, 92px) 92px;
	
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, auto);
	gap: min(32px, 3vw);
}

main>section>article{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: clamp(5px, 5vw, 32px);
	border: 1px solid var(--shadow-1);
	border-radius: 32px;
	box-shadow: 0 8px 8px -8px var(--shadow-2);
	overflow: hidden;
}

main>section>article>a{
	font-size: calc(1em - (1200px - 100vw) / 92);
	color: var(--celeste) !important;
}

main>section>:where(.tel-fijo, .tel-whatsapp)>a{
	font-size: calc(1em - (1200px - 100vw) / 256) !important;
}

main>section>article h1{
	width: 100%;
	font-size: calc(1.6em - (1200px - 100vw) / 64);
}

main>section>article p{
	font-size: calc(1.2em - (1200px - 100vw) / 72);
}

.tel-fijo, .tel-whatsapp{
	align-items: center;
	justify-content: space-between;
	grid-column: 1 / 3;
}

.correo-empleo, .quejas-sugerencias{
	grid-row: 3 / 5;
	min-height: 100%;
}

.correo-empleo{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, .5fr);
	justify-content: center;
	align-content: space-between;
}

.correo-empleo>:where(h1,p){
	grid-column: 1 / 3;
	line-height: 1.5em;
}

.correo-empleo>a{
	margin-top: 32px;
	width: max-content;
	display: grid;
	place-items: center;
}

.quejas-sugerencias{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.quejas-sugerencias>a{
	width: max-content;
}

.redes{
	align-items: center;
	justify-content: center;
	gap: 32px;
	grid-column: 1 / 3;
}

main>section>article img{
	width: min(64px, 10vw);
	height: auto;
	object-fit: cover;
	object-position: center;
}

@media only screen and (max-width:856px){
	main>section{
		padding: 92px clamp(5px, 5vw, 92px);
	}
}
