main{
	display: flex;
	flex-direction: column;
	gap: clamp(64px, 10vw, 128px);
	padding-block: min(92px, 10vw);
}

h1{
	font-size: calc(3em - (1200px - 100vw) / 92);
	line-height: 1em;
}

.about-top>figure{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.about-top>figure>img{
	width: min(600px, 95%);
	height: auto;
}

.about-history{
	display: grid;
	grid-template-columns: repeat(auto-fill, min(500px, 100%));
	column-gap: 8%;
	row-gap: 32px;
	padding-inline: min(64px, 5vw);
	justify-content: center;
}

.about-history>h1{
	color: var(--celeste);
	text-align: center;
	height: max-content;
	grid-row: 1/3;
}

.about-history>p{
	font-size: calc(1em - (1200px - 100vw) / 256);
}

@media only screen and (max-width: 1207px){
	.about-history{
		grid-template-columns: 100%;
	}
}

.about-datos{
	position: relative;
	display: flex;
	flex-direction: column;
	padding-block: 2.5vw;
	row-gap: 64px;
	background-color: var(--celeste);
}

.about-datos::before, .about-datos::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2.5vw;
	background-color: var(--white);
}

.about-datos::before{
	top: 0;
	border-radius: 0 0 100% 100%;
}

.about-datos::after{
	bottom: 0;
	border-radius: 100% 100% 0 0;
}

.about-datos :where(h1, h2, p, a){
	color: var(--white);
}

.about-datos>article{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: min(256px, 20vw);
	row-gap: 32px;
	padding: min(64px, 5vw) 16px;
}

.about-datos>article>figure{
	display: flex;
	align-items: center;
	justify-content: center;
	width: min(250px, 100%);
	column-gap: 16px;
}

.about-datos>article>figure>img{
	width: calc(3em - (1200px - 100vw) / 92);
	height: auto;
}

.about-datos>article>p{
	font-size: calc(1em - (1200px - 100vw) / 256);
	width: min(600px, 100%);
}

.about-end{
	padding-inline: min(64px, 5vw);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	align-items: center;
	row-gap: 32px;
}

.about-end figure{
	grid-column: 1/4;
	padding: min(64px, 5%);
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	display: grid;
	place-items: center;
}

.about-end figure p{
	font-size: calc(1em - (1200px - 100vw) / 256);
	color: var(--white);
}

.about-end figure:first-child{
	width: min(500px, 100%);
	background-color: var(--celeste);
	box-shadow: inset 0 0 50px #f8f8f8, 0 200px 100px -150px var(--celeste);
}

.about-end figure:nth-child(2){
	justify-self: end;
	width: min(450px, 95%);
	background-color: var(--celeste-2);
	box-shadow: inset 0 0 50px #f8f8f8, 0 200px 100px -150px var(--celeste-2);
}

.about-end figure:last-child{
	justify-self: center;
	width: min(400px, 90%);
	background-color: var(--celeste-3);
	box-shadow: inset 0 0 50px #f8f8f8, 0 200px 100px -150px var(--celeste-3);
}
